/*CSS for Contact Us page */
div#text {text-align: center;
			display:block;
			padding:60px;
			font-family:"slim-joe";
}

.h1{
	color:#0128c5;
}

.h2 {
	color:#eb4a59;
}

.p {
	font-size:20px;
}

.main-image {
	padding-top: 45px;
}	

.layer {
	background-color:#2e272d;
	position:absolute;
}
/*p.WELCOME {
	font-family: "BIG JOHN.otf";
	font-size: 270px;
	color: #fff;
	background:#2e272d;
	position:absolute;
}*/

div#map {display:block;
	     border: solid;
	     border-width: 1; 
		 margin: 50px auto 0 auto;
}	

.navbar-header {
	background: transparent;
}

#map {
	width: 500px;
	height: 400px;
}