/*There is going to be a seperate CSS page for each page to keep it clean */ 
@font-face {
	font-family:'slim-joe';
	src: url('dist/fonts/slim-joe.otf');
}

@font-face {
	font-family:'big-john';
	src: url('dist/fonts/big-john.otf');
}


html{
	font-family: sans-serif;
}



#home {
	background; #251f21
}

.main-image {
	background-image: url('secondphotos/DSC_9445.jpg') center center no-repeat;
	background-size:cover;
	background-attachment:fixed;
	padding-top: 45px;
}

#text{

	position:absolute;
	color:white;
	left:150px;
	top: 350px;
}

.container{
	overflow: hidden;
	position: absolute;
}

#cover-text {
  color:red;
  
}
