/*There is going to be a seperate CSS page for each page to keep it clean */ 
html{
	font-family: sans-serif;
}



#home {
	background; #251f21
}

.main-image {
	background-image: url('secondphotos/DSC_9445.jpg');
	background-size:cover;
	background-attachment:fixed;
	padding-top: 45px;
}

#text{

	position:absolute;
	color:white;
	left:150px;
	top: 350px;
}

.container{
	overflow: hidden;
}

.navbar-header {
	background: transparent;
}