/* This is going to be the CSS for the menu page */
.navbar-header {
	background: transparent;
}

.main-image {
	padding-top: 45px;
}

div#text{
	border: solid;
	border-width: 1;
	text-align: center;
	padding-top: 45px;

  /*background-color: ivory;
  background: linear-gradient(bottom, rgba(255,255,240,1), rgba(248,248,247,1));
  background: -webkit-linear-gradient(bottom, rgba(255,255,240,1), rgba(248,248,247,1));
  background: -moz-linear-gradient(bottom, rgba(255,255,240,1), rgba(248,248,247,1)));*/

	background-color: #fffaf8;
    background: linear-gradient(bottom, rgba(255,221,209,209), rgba(255,250,248,209));
    background: -webkit-linear-gradient(bottom, rgba(255,221,209,209), rgba(255,250,248,209));
    background: -moz-linear-gradient(bottom, rgba(255,221,209,209), rgba(255,250,248,209));
}


h2 {
	color: #eb4a59;
	font-family: "big john";
}

h3 {
	color: #eb4a59;
	font-family: "big john";
}

p {
	color: #0128c5;
	font-family: "Slim Joe";
	font-size: 17px;
}


#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
}



.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #eb4a59;
  display: block;
  text-decoration: none;
  padding-left: 60px;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #0128c5;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #0128c5;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #0128c5;
  background: none;
}



.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
  font-style: "BIG JOHN";
  color: #0128c5;
}

#menu-toggle {
    text-decoration: none;
}

.btn-menu {
  color: #0128c5;
} 

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}

