/* This is going to be the CSS for the menu page */
.navbar-header {
	background: transparent;
}

.main-image {
	padding-top: 45px;
}

div#text{
	border: solid;
	border-width: 1;
	text-align: center;
	padding-top: 45px;

  /*background-color: ivory;
  background: linear-gradient(bottom, rgba(255,255,240,1), rgba(248,248,247,1));
  background: -webkit-linear-gradient(bottom, rgba(255,255,240,1), rgba(248,248,247,1));
  background: -moz-linear-gradient(bottom, rgba(255,255,240,1), rgba(248,248,247,1)));*/

	background-color: #fffaf8;
    background: linear-gradient(bottom, rgba(255,221,209,209), rgba(255,250,248,209));
    background: -webkit-linear-gradient(bottom, rgba(255,221,209,209), rgba(255,250,248,209));
    background: -moz-linear-gradient(bottom, rgba(255,221,209,209), rgba(255,250,248,209));
}


h2 {
	color: maroon;
	font-family: "Geneva";
}

h3 {
	color: royalblue;
	font-family: "Geneva";
}

p {
	color: navy;
	font-family: "Geneva";
	font-size: 15px;
}

p.describe {
	font-style: italic;
}

